{% extends "base.html" %}

{% block title %}
  <h1>Localization with Django</h1>
{% endblock %}

{% block content %}
<p>When consciousness returned, and, as I soon learned, I was down but a moment, I sprang quickly to my feet searching for my sword, and there I found it, buried to the hilt in the green breast of Zad, who lay stone dead upon the ochre moss of the ancient sea bottom.  As I regained my full senses I found his weapon piercing my left breast, but only through the flesh and muscles which cover my ribs, entering near the center of my chest and coming out below the shoulder.  As I had lunged I had turned so that his sword merely passed beneath the muscles, inflicting a painful but not dangerous wound.</p>

<p>Removing the blade from my body I also regained my own, and turning my back upon his ugly carcass, I moved, sick, sore, and disgusted, toward the chariots which bore my retinue and my belongings.  A murmur of Martian applause greeted me, but I cared not for it.</p>

<p>Bleeding and weak I reached my women, who, accustomed to such happenings, dressed my wounds, applying the wonderful healing and remedial agents which make only the most instantaneous of death blows fatal.  Give a Martian woman a chance and death must take a back seat. They soon had me patched up so that, except for weakness from loss of blood and a little soreness around the wound, I suffered no great distress from this thrust which, under earthly treatment, undoubtedly would have put me flat on my back for days.</p>

<p>As soon as they were through with me I hastened to the chariot of Dejah Thoris, where I found my poor Sola with her chest swathed in bandages, but apparently little the worse for her encounter with Sarkoja, whose dagger it seemed had struck the edge of one of Sola's metal breast ornaments and, thus deflected, had inflicted but a slight flesh wound.</p>

<p>As I approached I found Dejah Thoris lying prone upon her silks and furs, her lithe form wracked with sobs.  She did not notice my presence, nor did she hear me speaking with Sola, who was standing a short distance from the vehicle.</p>

<p>"Is she injured?" I asked of Sola, indicating Dejah Thoris by an inclination of my head.</p>

<p>"No," she answered, "she thinks that you are dead."</p>
{% endblock %}
